<!-- DELETE Modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">

        <div class="text-black post-container flex-column d-flex">
          <div class="align-items-center">
            <div>Are you sure you want to delete this post?</div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >Don't Delete</button>
              <button class="btn btn-primary deleteModalBtn">Delete</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>