 <!-- Edit Comment Modal -->
    <form class="edit-comment-form">
    <div class="modal fade" id="editCommentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Comment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                            <textarea name="username" id="edit-comment-text" class="form-control" aria-label="With textarea"></textarea>

                    {{!-- <input type="text" id="edit-comment-text"> --}}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                        </button>
                        <button type="submit" class="btn btn-primary editComment">Edit</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

</form>