<div class="card-box">
    <a href="index.html"><div class="pic-title">TITLE</div></a>
    <div class="pic-username">USERNAME</div>
    <img class="card-image" src="./images/start-background.jpg" alt="pic">
    <div class="pic-desc">DESCRIPTION</div>
  </div>
