<div>
{{#each post}}
<div class="card-box">
    
    <a href="index.html"><div class="pic-title">{{title}}</div></a>
    <div class="pic-username">{{user.username}}</div>
    <img class="card-image" src="./images/start-background.jpg" alt="pic">
    <div class="pic-desc">{{description}}</div>

  </div>
{{/each}}
</div>