<div>
    <form class="formPic">

        <div class="text-white post-container flex-column d-flex ">
            <div class="align-items-center">
                <div>Create New Post</div>
                <div>Title:</div>
                <input class="post-title" type="text" name="title">

             <!-- drag and drop pictures -->
                <label class="pictureInput" for="picture">
                    <input type="file" name="picture" class="upload"/>
            <!-- <img class="previewImage" src="/images/dropzone.png" > -->
                </label>
                <div>Decription</div>

                <input class="description-box" type="text" name="description">
                <button class="post-btn" type="submit">+</button>
            </div>
        </div>
    </form>
  </div>

{{#each post}}
<div class="card-box">
    
    <a href="index.html"><div class="pic-title">{{title}}</div></a>
    <div class="pic-username">{{user.username}}</div>
    <img class="card-image" src={{picture}} alt="pic">
    <div class="pic-desc">{{description}}</div>

  </div>
{{/each}}
<script src="js/post.js"></script>
</div>