 <form id="login-form">
        <div class="container">
            <div class="row">
                <div class="login-container col-sm-3">
                    <h2 class="sign-in text-center">Sign In</h2>
                    <label for="username">Username</label>
                    <input id="username-input-email" class="input" type="text" placeholder="Enter Username"  required>
                    <label for="password">Password</label>
                    <input id="password-input-password" class="input" type="text" placeholder="Enter Password"  required>
                    <button class="login-btn">Login</button>
                    <hr>
                    <p>Don't have an account? Register <a href="/register">Here</a></p>
                </div>
            </div>
        </div>
    </form>

    <script src="/js/login.js"></script>