 <form>
        <div class="container">
            <div class="row">
                <div class="login-container col-sm-3">
                    <h2 class="sign-in text-center">Sign In</h2>
                    <label for="username">Username</label>
                    <input class="input" type="text" placeholder="Enter Username" id="username" required>
                    <label for="password">Password</label>
                    <input class="input" type="text" placeholder="Enter Password" id="password" required>
                    <button class="login-btn">Login</button>
                    <hr>
                    <p>Don't have an account? Register <a href="register.html">Here</a></p>
                </div>
            </div>
        </div>
    </form>