  <div>
  
  <form id="register-form">
        <div class="login-container">
            <h2 class="sign-in text-center">Sign Up</h2>
            <label for="username">Username</label>
            <input id="username-input-signup" class="input" type="text" placeholder="Enter Username" id="username" required>
            <label for="email">Email</label>
            <input id="email-input-signup"class="input" type="text" placeholder="Enter Email" id="email" required>
            <label for="password">Password</label>
            <input id="password-input-signup"class="input" type="text" placeholder="Enter Password" id="password" required>
            <button id="register-btn" class="login-btn" type="submit">Login</button>
            <div>Back to <a href="/login">Sign In</a></div>
    
        </div>
    </form>

    </div>

    <script src="/js/register.js"></script>