  <div class="d-flex justify-content-center">
        <div class="text-white d-flex flex-column align-items-center">
            <h2 class="pic-title">TITLE</h2>
            <div class="pic-username">USERNAME</div>
         </div>
    </div>



    <div>
        <div class="card-container d-flex justify-content-center">
            <div class="card-box">
                <img class="card-image" src="./images/start-background.jpg" alt="pic">
                <div class="pic-desc">DESCRIPTION</div>
            </div>

            <div class="post-comment-box d-flex">
                <div class="align-items-center">
                    <h2 class="text-white mt-4">USERNAME</h2>
                    <input type="text" name="username" id="comment">
                    <button class="post-comment btn-primary">Post Comment</button>
                    <hr>
                    <div class="comment-box">
                        <h4 class="text-white">USERNAME</h4>
                        <p class="text-white">Comment</p>
                        <h4 class="text-white">USERNAME</h4>
                        <p class="text-white">Comment</p>
                        <h4 class="text-white">USERNAME</h4>
                        <p class="text-white">Comment</p>
                        <h4 class="text-white">USERNAME</h4>
                        <p class="text-white">Comment</p>
                        <h4 class="text-white">USERNAME</h4>
                        <p class="text-white">Comment</p>
                    </div>
                </div>
            </div>
        </div>
    </div>