<div class="d-flex justify-content-between flex-column">
    <div class="text-white d-flex justify-content-between ">
        <input type="button" onclick="location.href='/';" value="Home" class="newPostBtn bg-transparent btn-primary fs-2" />
        <h2 class="username-top mt-4">{{post.0.user.username}}</h2>
        <a class="px-4 text-decoration-none text-white fs-2 " href="#" id="logout">Logout</a>
    </div>
</div>


<div class="d-flex justify-content-center flex-wrap">

{{#each post}}
    {{>posts}}
{{/each}}

</div>