*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height:100vh;
    background-color: rgb(37, 37, 37);
    background-image: url('../images/darkgb.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.nav a{
    color: white;
}


.card-box{
    display: flex;
    flex-direction: row;
    border: 5px solid black;
    border-radius: 30px;
    width: 370px;
    margin: 30px;
    text-align: center;
    background-color: whitesmoke;
    transition: transform 0.2s ease-in-out;
    padding:0 1rem;
}
.card-box:hover{
    border: 5px solid darkcyan;
    transform: scale(1.05);
    box-shadow: 0 0 1rem darkcyan;
}

.card-box-single{
width: 500px;
margin: 30px;
text-align: center;
}
.card-image-single{
    width:500px;
}

.card-image-single{
    width: 500px;
}

.post-buttons {
    display: flex;
    justify-content: center;
}

#comment-box {
    margin-top: 20px;
    align-items: center;
    border: 5px solid white;
    border-radius:0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.623);

}

.comment {
    width: 490px;
    text-align: center;
    border-bottom: 2px solid white;
    margin-top: 20px;
}

.comment-text {
    overflow-wrap: break-word;
    padding: 0 20px;
}
.single-post-title{
    width:500px;
    word-wrap: break-word;
    margin:auto;
}
.single-post-text{
    width:500px;
    word-wrap: break-word;
}
.pic-title{
    max-width: 340px;
    max-height: 60px;
    overflow-wrap: break-word;
    overflow-y:hidden ;
    font-size: 30px;
    padding: 10px 0 0 0;
    text-align: center;
}

a{
    text-decoration: none;
}

.pic-username{
    font-size: 18px;
    padding-bottom: 10px;
    text-align: center;
}
.card-image{
    width: 300px;
    height: 220px;
    padding-bottom: 10px;
    object-fit: cover;
}
.pic-desc{
    max-width: 340px;
    height:55px;
    overflow-wrap: break-word;
    overflow-y:hidden ;
    font-size: 18px;
    padding-bottom: 10px;
}
.username-top{
    font-size: 30px;
}
.username{
    color:darkcyan;
}
.username:hover{
    color:rgb(16, 192, 192);
}
/* create new post */


/* login */
.login-page{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.login-container{
    border: 5px solid black;
    background-color: rgb(219, 219, 219) !important;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-size: 26px;
    padding: 10px;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    width: 540px;
    height: 500px;
    z-index: 15;
    /* top: 50%;
    left: 50%;
    transform:translate(-50%,-50%); */
    /* margin: -100px 0 0 -150px; */
    background: whitesmoke;
}

.input{
    /* position: relative; 
    left: 30%; */
    width: 70%;
    text-align: center;
    margin: 10px;
}

.login-btn{
    /* width: 100px; */
    /* position: relative; 
    left: 39%; */
    margin: 20px 10px 10px 10px;
    border-radius: 5px;
    background-color: darkcyan;
    color:white;
}

.login-container p {
    margin:0;
}
/* PICTURE UPLOAD STYLES */

.pictureInput{
    display:block;
    width:550px;
    height:500px;
    background-image: url(/images/dropzone.png);
    background-size: cover;
    background-position: center;
    border:10px solid rgb(40, 123, 255);
    border-radius: 10px;
    /* cursor: pointer; */
}
input[type="file"]{
    opacity: 0;
    width:550px;
    height:500px;
    cursor: pointer;

}

.modal-dialog{
    max-width:600px;
}
/* .new-post-body{
    padding:3rem;
} */
/* add new post btn */
.newPostBtn{
    margin: 20px 50px 20px 50px;
    background-color: darkcyan;
    color:rgb(228, 228, 228);
    transition:transform 0.2s ease-in-out;
}
.newPostBtn:hover{
    transform:scale(1.05);
    color:white;
    box-shadow: 0 0 0.3rem rgb(50, 191, 191);
    border-color:rgb(43, 189, 189);
}
/* back button */
.backBtn{
   margin: 10px 0px 0px 20px;
   padding: 10px;
   font-size: 20px;
   color: black;
   background-color: white;
   border-radius: 20px;

}

/* tagdropdown */
.tagDropdown{
    margin: 20px 50px 40px 55px;
    width:250px;
}

.light-blue{
    background-color: rgb(233, 236, 246);
}
/* logout */
.logoutBtn{
    /* margin: 10px 20px 0px 0px; */
}
.navbar{
    margin-left: -10%;
}
/* .btn-primary {
    background-color: transparent;
    border-color: transparent;

} */
.singlePostNav .profile{
    margin-right:3rem;
 }
.single-post-button {
    margin: 2rem 2.1rem 1rem 2.1rem;
    background-color: darkcyan;
    color:rgb(228, 228, 228);
    transition:transform 0.2s ease-in-out;
}

.single-post-button:hover{
    transform:scale(1.05);
    color:white;
}
.commentBtn{
    margin: 0.5rem 0.2rem;
    background-color: darkcyan;
    color:rgb(228, 228, 228);
    transition:transform 0.2s ease-in-out;
}
.commentBtn:hover{
    transform:scale(1.05);
    color:white;
}
.projectName{
    order:1;
    margin-bottom:0.4rem !important;
    font-size: 3rem;;
    /* transition:all 0.2s ease-in-out; */

}
.profile{
    order:4;
    /* transition:all 0.2s ease-in-out; */

}
.navigation p{
    margin:0;
    transition:transform 0.2s ease-in-out;

}
.navigation p:hover{
    transform: scale(1.05);
    text-shadow: 0 0 0.3rem white;
}



@media screen and (max-width: 700px) {
    .navigation{
        margin:2rem 1rem !important;
    }
    .login-container{
        width: 500px;
        height: 500px;
        /* display: flex;
        justify-content: center; */
        /* margin-left: -128px; */
    }
    .login-btn{
        /* padding: 0.1rem 1rem;
        width:100px;
        transform: translate(-50%,0); */
        /* /* left: 34%; */
        /* width: 30%;  */
        /* display: flex; */
        /* text-align: center; */
        /* align-items: center; */
    }
    .newPostBtn{
        font-size: 1.3rem !important;
        width:250px;
    }
    /* .input{
        width: 70%;
    } */
    input[type="file"],.pictureInput{
        width:95%;
        max-width:500px;
        height:400px;
    }
    .pictureInput{
        background-image: url(/images/dropzone-small.png);
    }
}

@media screen and (max-width:524px) {
    .user-page{
        margin-bottom:1.6rem;
    }
    .navigation{
        /* margin:0 !important; */
        padding-bottom:0.8rem !important;
        margin:1rem 0 3rem 0 !important;
        border-bottom:1px solid white;

    }
    .navigation p {
        font-size: 2rem;;
    }
    .profile-container{
        order:10;
        width:100vw;
        text-align: center;

    }
    .logout-container{
        order:11;
        text-align: center;
        width: 100vw;

    }
    .projectName-container,.home-container{
        width:100vw;
        text-align: center;
    }
    .home-container p{
        width:100vw;
        text-align: center;

    }
    .login-container{
        width:98vw;
    }
    .singlePostNav{
        display:block !important;
    }
    .singlePostNav,.profile{
        margin-right:0 !important;
        margin-bottom:1rem !important;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 5%;
    }
  
    .single-post-title{
        width:90vw;
    }
    .single-post-text{
        max-width:90vw;
    }
    .card-image-single,.comment,.card-box-single{
    width: 100vw;
    }
    #comment-box{
        border-left:none;
        border-right:none;
        width:100vw;
    }
    .single-post-button{
        margin:2rem 1rem 1rem 1rem;
    }
    .tagAndProfile{
        display: flex;
        flex-direction: column;
        /* margin-top:4rem; */
    }
    .newPostBtn{
        margin-top:0;
    }
    
    .input{
        width:80%;
    }
    .post>div{
        width:100vw;
    }
    #commentModal,#editCommentModal,#deleteCommentModal,#editModal,#deleteModal{
        padding:0 !important;
        margin:0 !important;
        width:100vw;
    }
    body{
        /* width: 100vw; */
        padding-right:0 !important;
        /* margin:0 !important; */
    }
    .modal{
        position:fixed;
    }
}

@media screen and (max-width:340px) {
    .card-box{
        margin:1rem 0;
        border-radius: 0;
        border:none;
        width:100vw;
    }
    .pic-title{
        margin:auto;
        max-width: 95vw;
    }
    .pic-desc{
        margin:auto;
        height:auto;
        max-width: 92vw;
    }
    .card-image{
        width:98vw;
    }
    
    .login-container{
        width: 100vw;
        border:none;
        border-radius: 0;
    }
    .input{
        width:90%;
    }
    .login-container p {
        font-size: 1.1rem;
    }
}
@media screen and (max-height:800px) {
    .pictureInput,input[type="file"]{ 
        height:200px;   
    }
}