body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url('../images/darkgb.jpeg');
    background-size: 2050px 1100px;
    background-repeat: no-repeat;
}
.nav a{
    color: white;
}

.comment-box{
    overflow-y: auto;
    height: 380px;
}



.card-container{
    border: 3px solid white;
    flex: 1;
}

hr{
    color: white;
}

.card-box{
    border: 3px solid black;
    border-radius: 30px;
    width: 550px;
    height: 500px;
    margin: 30px;
    text-align: center;
    background-color: whitesmoke;
    margin-right: 200px;
}

.card-box:hover{
    border: 5px solid darkcyan;
}
.pic-title{
    font-size: 55px;
    padding: 10px 0 0 0;
}

a{
    text-decoration: none;
}

.pic-username{
    font-size: 18px;
    padding-bottom: 10px;
}
.card-image{
    width: 400px;
    height: 400px;
    padding-bottom: 10px;
    margin: 20px;
}
