
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url('../images/darkgb.jpeg');
    background-repeat: no-repeat;
    background-size: 2050px 1100px;
    height: 100vh;
}



.login-container{
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-size: 26px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 540px;
    height: 500px;
    z-index: 15;
    top: 30%;
    left: 44%;
    margin: -100px 0 0 -150px;
    background: whitesmoke;
}

.input{
    position: relative; 
    left: 30%;
    width: 40%;
    text-align: center;
    margin: 10px;
}

.login-btn{
    width: 20%;
    position: relative; 
    left: 39%;
    margin: 20px 10px 10px 10px;
    border-radius: 5px;
}





/* @media screen and (min-width: 375px) {
    .login-container{
        width: 300px;
        height: 500px;
    }
} */